@keyframes showNotifi {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hideNotifi {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.3);
    }
}

@keyframes showContent {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hideContent {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes showPulse {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes hidePulse {
    from {
        opacity: 0;
        transform: scale(1.2);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes hideMore {
    0% {
        opacity: 1;
        transform: scale(1.2);
    }
    10% {
        opacity: 1;
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        transform: scale(0);
    }
}

@keyframes showViewport {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.7);
    }
    100% {
        opacity: 0;
        transform: scale(1.9);
    }
}