@import 'variable.scss';

.wrapper {
    position: relative;
    // height: 100%;
    // height: 68rem;
    // position: relative;
    height: 61.5rem;
    // overflow: hidden;
    // overflow-y: hidden;
    z-index: 1;
}

.home {
    &-page {
        height: 100%;
        width: 100%;
        padding-top: 0;
        padding-bottom: 2rem;
        overflow: hidden;
        &__btn {
            background: #fff;
            color: #666;
            box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 20%);
            border: 1px solid #f5f5f5;
            position: absolute;
            left: 50%;
            bottom: 2rem;
            transform: translateX(-50%);
            border-radius: .25rem;
            padding: 0 2rem;
            height: 4.6rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            transform: translate(-50%, 70px);
            // transition: background .2s cubic-bezier(1,0,0,1);
            transition: all .3s ease-in 2s;
            opacity: 0;
            z-index: 4;
            svg {
                width: 1.5rem;
                margin-right: 10px;
            }
            span {
                font-weight: 600;
                font-size: 1.4rem;
            }
            &:hover {
                background: #f5f5f5;
            }
        }
        &__content {
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            z-index: 3;
            &-item {
                text-align: center;
                max-width: 45rem;
                font-size: 1.5rem;
                line-height: 2.3rem;
                margin: 0;
                color: rgba(0, 0, 0, 0.67);
            }
        }
        &__title {
            svg {
                height: 13.9rem;
                width: 37rem;
                margin: .25rem auto 0;
                color: #000;
                display: block;
                .top {
                    opacity: 0;
                    transform: translateX(70px);
                    transition: all .3s ease-in 2.5s;
                }
                .bottom {
                    opacity: 0;
                    transform: translateX(70px);
                    transition: all .3s ease-in 2.8s;
                }
            }
        }
        &__viewport {
            height: 100%;
            width: 100%;
        }
    }
    &-logo {
        top: auto;
        right: auto;
        bottom: 1.5rem;
        left: 2rem;
        position: absolute;
        z-index: 3;
        opacity: 0;
        color: rgba(70, 70, 70, 0.75);
        transition: all .6s;
        a {
            &:nth-child(1) {
                margin-right: 2rem;
                opacity: 0.5;
                svg {
                    width: 8rem;
                    height: 3rem;
                }
            }
            &:nth-child(2) {
                opacity: 0.4;
                svg {
                    height: 3.1rem;
                    width: 12rem;
                }
            }
        }
    }
    &__more-info {
        border: none;
        top: auto;
        right: 2rem;
        bottom: 2rem;
        left: auto;
        position: absolute;
        z-index: 3;
        background: #f7f7f7;
        height: 4rem;
        width: 4rem;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0;
        // transition: background .2s cubic-bezier(1,0,0,1);
        transition: all .6s;
        svg {
            height: 1.6rem;
            width: 1.6rem;
        }
        &:hover {
            background: #f2f2f2;
        }
    }
}

.viewport {
    &__item {
        z-index: 1;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 40rem;
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        &:hover {
            color: unset;
        }
        &:nth-child(1) {
            left: 25%;
            top: 15%;
            .viewport {
                &__animation {
                    transform: translate(-0.6rem, 1.4rem);
                    z-index: 5;
                    &-item {
                        opacity: 0;
                        width: 13rem;
                        transition: all 0.5s ease-in 2.3s;
                        transform: translate(-14rem, -10rem);
                    }
                }
                &__descript {
                    &:hover {
                        .viewport__descript-btn {
                            background: #fff;
                        }
                        .viewport__descript-btn-descript {
                            clip-path: circle(83% at 39% -34%);
                            opacity: 1;
                        }
                    }
                    >p {
                        position: absolute;
                        top: 19.5rem;
                        left: 28.5rem;
                        font-size: 1.5rem;
                        font-weight: 700;
                        opacity: 0.7;
                        z-index: 3;
                    }
                    &-btn {
                        background: $color-stuff;
                        position: absolute;
                        top: 12rem;
                        left: 26rem;
                        transition: all 0.2s ease-in;
                        z-index: 3;
                        &-descript {
                            background: $color-stuff;
                            position: absolute;
                            width: 82rem;
                            height: 40rem;
                            top: -1rem;
                            right: -28rem;
                            clip-path: circle(1% at 53% 48%);
                            transition: all ease-in-out 0.5s;
                            pointer-events: none;
                            z-index: 2;
                            p {
                                font-size: 1.15rem;
                                font-weight: 100;
                                line-height: 1.6rem;
                                position: absolute;
                                top: 24rem;
                                left: 42.3rem;
                                width: 17%;
                            }
                        }
                    }
                    
                }
            }
        }
        &:nth-child(2) {
            left: 75%;
            top: 15%;
            width: 30rem;
            height: 30rem;
            .viewport {
                &__animation {
                    transform: translate(-0.5rem, 0rem);
                    z-index: 5;
                    &-item {
                        opacity: 0;
                        width: 12rem;
                        transition: all 0.5s ease-in 2.5s;
                        transform: translate(28rem, -5rem);
                    }
                }
                &__descript {
                    &:hover {
                        .viewport__descript-btn {
                            background: #fff;
                        }
                        .viewport__descript-btn-descript {
                            clip-path: circle(83% at 60% -51%);
                            opacity: 1;
                        }
                    }
                    >p {
                        position: absolute;
                        top: 19.5rem;
                        right: -1.5rem;
                        font-size: 1.5rem;
                        font-weight: 700;
                        opacity: 0.7;
                        z-index: 3;
                    }
                    &-btn {
                        background: $color-water;
                        position: absolute;
                        top: 12rem;
                        right: -3rem;
                        z-index: 3;
                        &-descript {
                            background: $color-water;
                            position: absolute;
                            width: 83rem;
                            height: 35rem;
                            top: -1rem;
                            right: -19rem;
                            clip-path: circle(1% at 76% 48%);
                            transition: all ease-in-out 0.5s;
                            pointer-events: none;
                            z-index: 2;
                            p {
                                font-size: 1.15rem;
                                font-weight: 100;
                                line-height: 1.6rem;
                                position: absolute;
                                top: 24rem;
                                left: 61rem;
                                width: 17%;
                            }
                        }
                    }
                }
            }
        }
        &:nth-child(3) {
            left: 75%;
            top: 75%;
            width: 30rem;
            height: 30rem;
            .viewport {
                &__animation {
                    transform: translate(0.6rem, -3.6rem);
                    z-index: 5;
                    &-item {
                        opacity: 0;
                        width: 17rem;
                        transition: all 0.5s ease-in 2.7s;
                        transform: translate(24rem, 21rem);
                    }
                }
                &__descript {
                    &:hover {
                        .viewport__descript-btn {
                            background: #fff;
                        }
                        .viewport__descript-btn-descript {
                            clip-path: circle(83% at 60% 153%);
                            opacity: 1;
                        }
                    }
                    >p {
                        position: absolute;
                        top: 11.5rem;
                        right: -2.7rem;
                        font-size: 1.5rem;
                        font-weight: 700;
                        opacity: 0.7;
                        z-index: 3;
                    }
                    &-btn {
                        background: $color-food;
                        position: absolute;
                        top: 4rem;
                        right: -5rem;
                        transition: all 0.2s ease-in;
                        z-index: 3;
                        &-descript {
                            background: $color-food;
                            position: absolute;
                            width: 84rem;
                            height: 35rem;
                            top: -4.6rem;
                            right: -19rem;
                            clip-path: circle(1% at 79% 36%);
                            transition: all ease-in-out 0.5s;
                            pointer-events: none;
                            z-index: 2;
                            p {
                                font-size: 1.15rem;
                                font-weight: 100;
                                line-height: 1.6rem;
                                position: absolute;
                                top: 19rem;
                                left: 64.2rem;
                                width: 17%;
                            }
                        }
                    }
                }
            }
        }
        &:nth-child(4) {
            left: 25%;
            top: 75%;
            .viewport {
                &__animation {
                    transform: translate(0.2rem, -5rem);
                    z-index: 5;
                    &-item {
                        opacity: 0;
                        width: 10rem;
                        transition: all 0.5s ease-in 2.9s;
                        transform: translate(-28rem, 23rem);
                    }
                }
                &__descript {
                    &:hover {
                        .viewport__descript-btn {
                            background: #fff;
                        }
                        .viewport__descript-btn-descript {
                            clip-path: circle(83% at 40% 153%);
                            opacity: 1;
                        }
                    }
                    >p {
                        position: absolute;
                        top: 20.4rem;
                        left: 6.3rem;
                        font-size: 1.5rem;
                        font-weight: 700;
                        opacity: 0.7;
                        z-index: 3;
                    }
                    &-btn {
                        background: $color-energy;
                        position: absolute;
                        top: 13rem;
                        left: 5rem;
                        transition: all 0.2s ease-in;
                        z-index: 3;
                        &-descript {
                            background: $color-energy;
                            position: absolute;
                            width: 84rem;
                            height: 35rem;
                            top: 0.4rem;
                            right: -30rem;
                            clip-path: circle(1% at 27% 48%);
                            transition: all ease-in-out 0.5s;
                            pointer-events: none;
                            z-index: 2;
                            p {
                                position: absolute;
                                top: 23rem;
                                left: 10.5rem;
                                font-size: 1.15rem;
                                font-weight: 100;
                                line-height: 1.6rem;
                                text-align: end;
                                width: 18%;
                            }
                        }
                    }
                }
            }
        }
    }
    &__descript {
        // left: 65%;
        // top: calc(50% - 9rem);
        svg {
            width: 2rem;
        }
        &-btn {
            border: none;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    // &-background {
    //     position: absolute;
    //     top: 11.4rem;
    //     left: 25.4rem;
    //     width: 23%;
    //     height: 23%;
    //     opacity: 0;
    //     transform: scale(1.5);
    //     transition: all 0.5s;
    //     border: 1px solid $color-stuff;
    //     border-radius: 50%;
    //     animation: showViewport 1s linear 10s forwards infinite;
    // }
}

[data-tooltip] {
    color: #1a73e8;
    text-decoration: underline;
    cursor: pointer;
}

// [data-name=mojs-shape] {
//     display: block;
//     &:nth-of-type(8) {
//         color: red;
//         transition: all .5s ease-in 4s;
//     }
// }