@import 'variable.scss';

.main-footer {
    padding: 3.5rem;
    display: flex;
    align-items: center;
    background: #f8f9fb;
    .footer {
        &-logo {
            display: flex;
            svg {
                width: 8.6rem;
                height: 2.8rem;
                margin-right: 5rem;
                path {
                    fill: $color-nav;
                }
            }
        }
        &-nav {
            &__item {
                display: inline-block;
                margin: 1rem 3rem 1rem 0;
                a {
                    color: $color-nav;
                    font-size: 1.4rem;
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
}